@font-face {
font-family: Thicccboi;
src: url('https://cdn.prod.website-files.com/610611d7a1cb344c65731c96/610611d8a1cb3483fe731cd1_THICCCBOI-ExtraBold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: Thicccboi;
src: url('https://cdn.prod.website-files.com/610611d7a1cb344c65731c96/610611d8a1cb3455c6731cc6_THICCCBOI-SemiBold.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: Thicccboi;
src: url('https://cdn.prod.website-files.com/610611d7a1cb344c65731c96/610611d8a1cb34468a731cd0_THICCCBOI-Bold.woff2') format('woff2');
font-weight: 600;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: Thicccboi;
src: url('https://cdn.prod.website-files.com/610611d7a1cb344c65731c96/610611d8a1cb3487d6731cd2_THICCCBOI-Medium.woff2') format('woff2');
font-weight: 300;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: Thicccboi;
src: url('../fonts/Webfont/THICCCBOI-Regular.woff2') format('woff2');
font-weight: 200;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: Thicccboi;
src: url('../fonts/Webfont/THICCCBOI-Thin.woff2') format('woff2');
font-weight: 100;
font-style: normal;
font-display: swap;
}

  

:root {
    --secondary: #6A994E;
    --secondaryDarker: #4d6d3a;
    --background: #FFF8F0;
    --card-bg: #ffffff;
    --text-main: #2E2E2E;
    --text-muted: #6C757D;
    --border: #DADADA;
    --highlight: #ff9100;
    --darker-highlight: #ff4d00;

    --darkBackground: #1F1F1F;
    --dark-card-bg: #2A2A2A;
    --dark-text-main: #FFFFFF;
    --dark-text-muted: #AAAAAA;
    --dark-border: #333333;

    --stylishFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Thicccboi";
}

header {
    position: relative;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient(to bottom,rgba(0,0,0,1) 0,rgba(0,0,0,0) 100%);
}
header.favoriteHeader {
  height: 70dvh;
}
header.thanksHeader {
  height: 100px;
}
.favoriteHeader .main {
  margin-top: -30px;
}
header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: none 0 0 no-repeat;
  background-size: cover;
  background-position: center center;
}
header.homeHeader::before {
  background-image: url('../images/food8.webp');
}
header.recipeHeader::before {
  background-image: url('../images/recipe1.webp');
}
header.favoriteHeader::before {
  background-image: url('../images/fav2.webp')
}
header.thanksHeader::before {
  background-image: none;
}

#logoAndNavigationContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%; 
    padding: 0 2rem;
    z-index: 10;
}
.thanksHeader #logoAndNavigationContainer {
  background-color: var(--darkBackground);
  padding: 0 1rem;
  /* all: unset; */
  height: 100px;
  position: relative;
}

#logo {
    display: flex;
    align-items: center;
}

#logo_link {
    width: 70px;
    height: 70px;
}

.logo{
    filter: brightness(0) invert(1);
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: .5rem;
}

.dishdash {
    font-size: clamp(.5rem, 5vw, 2rem);
    color: white;
    font-weight: 400;
}

#navigationAndLabelContainer {
    display: flex;
    gap: 60px;
    flex-direction: row;
    margin: auto 0;
}

#navigationContainer {
    margin: auto 0;
}

#menu {
	display: block;
    cursor: pointer;
}

#close svg, #menu svg, .search svg {
    display: block;
    height: 30px;
    fill: white;
}

#searchButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav {
    display: none;
}

.navigation{
    list-style: none;
    margin: auto;
    padding: 0;
}

.navigation a{
    text-decoration: none;
    font-family: var(--heading-font);
    display: block;
    transition: 0.5s;
    font-size: 1rem;
    padding: 13px;
    cursor: pointer;    
    color: white;
}

.navigation li {
	display: none;
}

a.active {
    color:var(--highlight) ;
    font-size: calc(100% / 1.2);
    border: 2px solid #ff9100;
    border-radius: 40px;
}

.heroContainer {
    width: 100%;
    margin: 0 auto;
}

.main {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -70px;
  height: 160px;
  text-align: center;
}

.heroText h2{
  max-width: 90%;
  margin: 0 auto;
  color: white;
  font-size: clamp(1rem, 6vw, 4rem);
  font-weight: 900;

}

.heroText p{
    max-width: 90%;
    margin: 0 auto;
    color: var(--highlight);
    font-size: clamp(.5rem, 3vw, 2rem);
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    letter-spacing: -1px;
}
.heroText p>span {
  background-color: var(--highlight);
  color: black;
  /* clip-path: circle(100% at 50% 50%); */
  border-radius: 50%;
  padding: 5px 15px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

.learn-more {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(.5rem, .7rem, 1rem);
    font-weight: lighter;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
    animation: opacity 1s linear forwards;
    text-decoration: none;
    cursor: pointer;
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.learn-more::after {
    content: "";
    display: block;
    background-image: url("../images/caret-down-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 16px;
    width: 100%;
    margin: 0 auto;
    filter: invert(1);
    animation: unset;
}

.recipesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: inherit;
  top: 3rem;
}

.recipesPage>*{
  all: unset;
  width: calc(100% / 1.5);
  margin-left: 3rem;
}

.recipesPage .heroText h2 {
  width: 100%;
}
.recipesPage .heroText p {
  color: white;
  font-weight: 250;
  font-family: "roboto";
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

.recipesPage .heroLinkContainer div {
  position: relative;
  max-width: 90%;
  margin: 1.5rem  auto 0 auto;
}

.recipesPage .heroLinkContainer a {
  all: unset;
  background-color: #ff9100;
  color: black;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: clamp(.5rem, 1rem, 1rem);
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
}

.recipesPage .heroLinkContainer a:hover {
  background-color: var(--secondary);
  color: white;
}

.recipesPage .learn-more::after {
  all: unset;
}

#searchBoxContainer {
    position: fixed;
    height:  100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.981);
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    clip-path: circle(0 at 90% -10%);
    transition: clip-path 0.5s ease;
}
#searchBoxContainer.recipeSearchBox {
  background-color: #7bb15ea2;
  padding: 2rem 0 0 0;
  position: relative;
  clip-path: none;
  z-index: unset;
}
#searchBoxContainer.searchActive {
    clip-path: circle(150% at 100% 10%);
}
.searchContainer input {
    width: 250px;
    height: 40px;
    padding: 6px;
    margin: 8px 0;
    font-size: 13px;
    border: none;
    outline: 0;
    font-family: roboto, serif, Arial;
    border-radius: 30px 0 0 30px;
    text-indent: 20px;
}
.recipeSearchBox input {
  border: 1px solid var(--dark-text-muted);
  border-right: none;
}
.searchContainer input::placeholder {
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    letter-spacing: -1px;
    left: 0;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 6px 15px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: var(--secondary);
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}
.recipeSearchBox .search-icon  {
  background-color: var(--highlight);
  border: 1px solid var(--dark-text-muted);
  border-right: none;
}
.search-icon svg {
    height: 20px;
    fill: black;
}
.search-icon:hover{
    background-color: var(--secondary);
    opacity: .7;
}
.close {
    cursor: pointer;
}
.recipeSearchBox .close {
  display: none;
}
.close svg{
    display: block;
    height: 35px;
    fill: white;
}

/* HOME MAIN SECTION */
#homeMainContainer {
    /* max-width: 1220px; */
    margin: 0 auto;
}

.welcome {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--background);
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .welcome-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .welcome h2 {
    font-size: clamp(1rem, 5vw, 3rem);
    color: var(--text-main);
    margin-bottom: 2rem;
  }
  
  .brand {
    color: var(--secondaryDarker);
  }
  
  .welcome p {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    color: var(--text-muted);
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-family: var(--stylishFont);
    font-style: italic;
    letter-spacing: -1px;
  }

  .welcome-content span:not(.brand) {
    padding: .1rem;
    color: rgba(0, 0, 0, 0.762);
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    font-style: normal;
  }
  
  .cta-button {
    display: inline-block;
    background-color: var(--highlight);
    color:  black;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    text-decoration: none;
    font-family: "roboto";
    font-weight: 350;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #fea32b;
  }

/* FEATURED RECIPE SECTION */
  .featured-recipes {
    margin: 3rem auto;
    height: auto;
  }
  
  .featured-recipes h2 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--text-main);
    margin-bottom: 2rem;
  }
  
 .recipe-card {
    display: flex;
    width: 100%;
    max-width: 1500px;
    height: 350px;
    margin: 0 auto;
  }

  .recipe-card > * {
    flex: 1;
  }

  .imgContainer {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;

  }

  .imgContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .recipe-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recipeContainer {
    background-color: #71d53726;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .recipe-info {
    margin: 3rem;
  }
  
  .recipe-info h3 {
    font-size: clamp(.5rem, 1rem, 1.5rem);
    color: var(--primary);
    margin-bottom: 0.5rem;
  }

  .mealType {
    /* color: var(--darker-highlight) !important; */
    /* color: var(--highlight) !important; */
    color: #cc3300 !important;
    font-size: calc(100% + .3em) !important;
    font-weight: 700;
  }
  
  .recipe-info p {
    font-size: clamp(.5rem, .8rem, 1rem);
    /* color: var(--text-muted); */
    color: var(--dark-card-bg);
    margin-bottom: 1rem;
    line-height: 1;
  }

  .right-image .recipe-info {
    text-align: right;
  }
  
  .view-recipe-btn {
    display: inline-block;
    /* background-color: #45603e; */
    background-color: var(--secondaryDarker);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: clamp(7pt, 14pt, 15pt);
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .view-recipe-btn:hover {
    background-color: #7bb15e;
  }

/* MODAL SECTION */
  dialog.modal {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 2rem 5rem;
    background-color: #fff;
    width: 100ch;
    max-height: 50dvh;
    outline: none;
    text-align: left;
    margin: auto;
    animation: show .5s ease-in-out forwards;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

  .modal.closing {
    animation: fadeOut 0.2s ease-in-out forwards;
  }

@keyframes show {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: scale(1);
  }
  to {
      opacity: 0;
      transform: scale(0.5);
  }
}
  
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.modal h3 {
  position: relative;
  margin-bottom: 1rem;
}

.modal h3::before {
    content: "";
    height: 100%;
    width: 10px;
    background-color: var(--highlight);
    position: absolute;
    bottom: 0;
    left: 0;
    left:-30px;
    border-radius: 10px;
}
.instructionsContainer h3::before {
  background-color: var(--secondary);
}

.modal>div>ul>li {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
  font-weight: 200;
  position: relative;
  right: 30px;
}

.modal>div>ul span {
  display: block;
  font-weight: 800 !important;
  margin-bottom: .3rem;
}

.instructionsContainer ul>li {
  list-style-type: none !important;
}

.whats-cooking {
  display: block;
  padding: 4rem 1rem;
  background-color: var(--darkBackground);
  text-align: center;
}

.whats-cooking h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  color: wheat;
  margin-bottom: 2rem;
}

.cooking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cooking-card {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: left;
  color: white;
}

.cooking-card h3 {
  font-size: clamp(1rem, 1.1rem, 1.5rem);
  margin-bottom: 0.5rem;
}
.cooking-card h3 span {
  display: inline-block;
  background-color: var(--highlight);
  color: black;
  padding: .3rem 1rem;
  border-radius: 10px;
}
.cooking-card p {
  font-size: clamp(.7rem, .8rem, 1.2rem);
  line-height: 1.5;
  font-weight: 400;
  font-family: roboto;
}














/* ///////////////////////////////////////////////////////////////////////// */
#filter-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 300;  
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  background-color: #7bb15ea2;
}
#filter-section label {
  margin: 0 1rem;
}

#filter-section select {
  font-weight: 300;  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

#allRecipesInfo {
  max-width: 1700px;   
  margin: 0 auto;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin: 3rem 50px;
}

.recipesProductCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.recipeInformationContainer {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  text-align: center;
  padding: 1rem 0;
}
.recipeInformationContainer *{
  margin: .4rem;
}
.recipeInformationContainer .mealType {
  color: #cc3300 !important;
  font-weight: 600;
  /* ff4000 */
}
.recipeInformationContainer h3 {
  font-size: clamp(.2rem, 1rem, 1.5rem);
  font-weight: 500;
}
.recipeInformationContainer p {
  font-size: clamp(.2rem, .9rem, 1rem);
  font-weight: 200;
}

.recipeImageContainer {
  position: relative;
  border-radius: 10px;
  width: auto;
  height: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.recipeImageContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.info-button {
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
.info-button svg {
  fill: white;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 60%;
  padding: 6px;
  transition: background-color .5s ease-in-out;
}

.img-text-overlay {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.91);
  position: absolute;
  width: 100%;
  top: -100%;
  height: 100%;
  transition: .3s ease-in-out;
}
.text *{
  font-family: "roboto";
  font-weight:400;
  margin: .7rem;
  color: white;
  text-align: left;
}

.recipeLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.addFavorites {
  display: flex;
  gap: 5px;;
  justify-content: center;
  /* color: #ff4000; */
  color: #cc3300;
  padding: 0.7rem 1rem;
  border: 3px solid #cc3000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14pt;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.addFavorites svg {
  /* fill: #ff4000; */
  fill: #cc3300;
  height: 20px;
  display: inline;
}

.addFavorites.saved .heart-icon {
  fill: #cc3000 !important;
  animation: pop .5s  linear forwards;
}
@keyframes pop {
  0% {
    transform: scale(1) rotate(0deg);
  }
  40% {
    transform: scale(1.2) rotate(-10deg);
    background-image: url('../images/heart-solid\ \(1\).svg'); 
  }
  75% {
    transform: scale(1.5) rotate(0deg);
    background-image: url('../images/heart-solid\ \(1\).svg'); 
  }
  100% {
    transform: scale(1) rotate(0deg);
    background-image: url('../images/heart-solid\ \(1\).svg'); 
  }
}

.recipeLinksContainer .view-recipe-btn {
  flex: 1;
  text-align: center;
  font-size: 14pt;
  font-weight: 800;
  padding: 0.7rem 1rem;
}
.recipeLinksContainer .view-recipe-btn:hover {
  background-color: #66a544;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5rem;
}
.pagination-controls button {
  outline: 0;
  justify-self: center;
}
.page-button {
  padding: 10px 15px;
  background-color: #7bb15ea2;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}
.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.page-button.active {
  background-color: #218838;
  font-weight: bold;
  font-size: 14pt;
  color: white;
  cursor: default;
}
.page-button:hover {
    background-color: #218838;
    transform: scale(1.1);
}

.savedAlert{
  display: none;
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darker-highlight);
  padding: 1rem;
  border-radius: 40px;
  opacity: 0;
  transition: .3s ease-in-out;
}
.showAlert {
  bottom: 0;
  opacity: 1;
  z-index: 1;
  display: block;

}







/* /////////////////////////////////////////////////////////// */

.removeFavorites {
  display: grid;
  place-items: center;
  background-color: #ff2f00;
  width: 20%;
  border-radius: 8px;
  cursor: pointer;
}
.removeFavorites svg {
  height: 20px;
  fill: white;
}












/* ///////////////////////////////////////////////////////// */
.headerSubmit  {
  background-color: black;
  background-image: none;
  height: 80dvh;
}
.headerSubmit #logoAndNavigationContainer {
  background-color: black;
}
.headerSubmit .main {
  margin-top: 0;
}
.headerSubmit div.heroText {
  opacity: 1 !important;
}
.headerSubmit div.heroText h2, .headerSubmit div.heroText p {
  color: #ffffff;
}
.headerSubmit .heroLinkContainer {
  display: none;
}

.submit-recipe-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.submit-intro {
  text-align: center;
  margin-bottom: 2rem;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-form label,
.recipe-form legend {
  display: block;
  font-weight: 600;
  color: var(--text-main);
}

.recipe-form input,
.recipe-form select,
.recipe-form textarea {
  margin-top: .5rem;
  display: block;
  padding: 0.75rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 1rem;
}

.recipe-card input[type="radio"] {
  display: block;
}

.recipe-form input[type="text"],
.recipe-form input[type="url"],
.recipe-form textarea {
  max-width: 100%;
  width: 100%;
}

.recipe-form fieldset {
  border: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.recipe-form button {
  background-color: var(--secondaryDarker);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  /* width: 50%; */
  border-radius: 8px;
  font-size: 14pt;
  font-weight: bolder;
  cursor: pointer;
}

.recipe-form button:hover {
  background-color: var(--secondary);
}

.recipe-form input {
  accent-color: var(--darker-highlight);
}









/* ///////////////////////////////////////////////////////////// */
#thanksMainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 3rem auto;
  max-width: 1500px;
}

.thanksContainer{
  text-align: center;
  line-height: 1.3;
  margin: 0 1rem;
}
.thanksContainer h2 {
  font-size: clamp(1.7rem, 5vw, 6rem);
}
.thanksContainer p {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 200;
  margin-top: 1rem;
}

.submittedInfo {
  display: block;
  width: 80%;
  margin: 2rem auto;
}
.submittedInfo p {
  margin: .5rem 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -1px;
  font-style: italic;
  text-align: left;
  font-weight: 100;
  color: #444444;
}














/* ////////////////////////////////////////////////////////////////////////////// */
/* CTA Bar */
.footer-cta-bar {
  background-color: var(--secondary); /* Olive green from your scheme */
  color: white;
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.footer-cta-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-cta-text h3 {
  font-size: 1.5rem;
  color: black;
}

.footer-cta-text p {
  font-size: 14pt;
  color: black;
  font-weight: bold;
  margin: 0;
}

.footer-cta-button {
  background-color: #2e2e2e;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.footer-cta-button:hover {
  background-color: black;
}

.footer-container {
  background-color: var(--darkBackground); 
  color: #f8f8f8;
  margin: 0 auto;
  padding: 6rem 4rem 5rem 4rem;
}

.footer-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  align-items: start;
  max-width: 1300px;
}
footer .brand a {
  text-decoration: none;
}
footer .brand p {
  color: #fea32b;
}

.footer-col:not(:first-of-type) h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.footer-col ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-col.brand h4 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.social-links a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;    
  height: 30px; 
  border-radius: 50%;
  text-align: center;
  background-color: var(--secondaryDarker);
}

.social-links svg{
  fill: white;
  height: 15px;
}

.copyright {
  background-color: black;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  font-weight: 100;
  font-size: clamp(.5rem, .8rem, 2rem);
}


@media  screen and (max-width: 790px) {
  
  nav {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);

  }
  .show {
    display: flex;
  }
  .navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation li {
    margin: .4rem;
    display: block;
  }
  a.active {
    font-size: 12px;
  }
  .navigation li a:hover{
    font-size: 12px;
    color: var(--highlight);
    transition: .3s linear;
  }
  #close {
    display: flex;
    align-items: center;
    justify-content: center; 
    animation: move-up 1s ease-in-out 0s forwards;
  }
  #close svg {
    cursor: pointer; 
  }
  @keyframes move-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-170%);
    }
}

  #filter-section {
    margin: 0;
    display: block;
  }

  #filter-section label {
    display: block;
    margin-bottom: 10px;
  }

  #filter-section select {
    margin-bottom: 1rem;
  }

  .footer-grid {
    margin: 0 auto;
    all: unset;
    display: grid;
    grid-template-areas: 
    "logo"
    "customers" 
    "company"
    "further"
    "follow";
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 1rem;
    text-align: center;
  }
  .brand {
      grid-area: logo;
  }
  .customers {
      grid-area: customers;
  }
  .company {
      grid-area: company;
  }
  .further {
      grid-area: further;
  }
  .social {
      grid-area: follow;
      place-self: center;
      text-align: center;
  }

  .featured-recipes {
    display: flex;
    flex-direction: column;
    gap: 30px !important;
  }
  .recipe-card {
    height: auto;
    flex-direction: column;
  }
  .imgContainer {
    max-height: 400px;
  }
  .right-image {
    flex-direction: column-reverse;
  }
 .recipe-info {
    text-align: center !important;
  }
}
