@media only screen and (min-width: 38rem){
  #myButton{
    display: none;
  }
  ul.menuLinks, ul.menuLinks.open{
    display: flex;
    justify-content: flex-end;
  }
  ul.menuLinks a:hover{
    color: orange;
  }
  nav{
    grid-template-rows: 1fr;
  }
  header{
    display: block;
    padding: 30px;
  }
}

