@media (min-width: 641px) {
  .discover-grid {
    grid-template-areas:
      "sidebar cards";
    grid-template-columns: 1fr 3fr;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
